<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1><%=title%></h1>

<% for (i=0;i<smartContacts.length;i++) { %>
<p><%= smartContacts[i].name%></p>
<p><%=smartContacts[i].telephone%></p>
<p><%=smartContacts[i].email%></p>
<a href="/smartcontacts/<%=i%>">ID</a>
<%}%>
<%
console.log(smartContacts[i]);
%>
</body>
</html>